body {
  --white: rgb(255, 248, 242);
  --black: rgb(28, 28, 28);

  background-color: var(--white);
  color: var(--black);
  font-family: 'EB Garamond', 'Georgia', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  overscroll-behavior: none;
  overscroll-behavior-block: none;
  overflow-x: hidden;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.herobg {
  height: auto;
  min-width: 370px;
  width: 55%;
  z-index: -1;
}

.white { color: var(--white); }
.title { font-size: 12vh; }
.subtitle { font-size: 7vh; }
.tex, .button { font-size: 2vh; }
@media (max-width: 960px) {
  .subtitle { font-size: 4vh; }
}
.button {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-weight: 400;
  padding: 8px 20px;
  text-decoration: none;
  width: max-content;
}
.button:hover:not(.disabled) { opacity: 0.7; }
.button.disabled { cursor: default; }

header .title:first-of-type {
  margin-bottom: -54px;
}

header .title:nth-of-type(2) {
  margin-top: -58px;
}

header .text {
  bottom: 50px;
  position: absolute;
}

@keyframes opacity-in {
  to { opacity: 1; }
}

.section.datetime {
  background-image: url(./datetime-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 10px;
}

.section.location {
  flex-direction: row;
  gap: 5vw;
  --image-height: 55%;
  --image-min-width: auto;
  --image-width: auto;
}

.section.location > .locationbg {
  height: var(--image-height);
  min-width: var(--image-min-width);
  width: var(--image-width);
}

.section.location > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: var(--image-height);
  max-width: 40%;
}

.section.location > div > .locationbg { display: none }
.section.location > div > .text { margin-bottom: auto; }

@media (max-width: 960px) {
  .section.location {
    flex-direction: column-reverse;
    gap: 5vw;
    --image-height: auto;
    --image-min-width: 370px;
    --image-width: 370px;
  }
  .section.location > .locationbg { display: none }
  .section.location > div > .text { margin-bottom: unset; }
  .section.location > div > .locationbg { display: block }
  .section.location > div {
    min-width: var(--image-min-width);
    width: var(--image-width);
  }
}

.section.dresscode {
  background-image: url(./dresscode-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  gap: 10px;
}

@media (max-width: 960px) {
  .section.dresscode .title { font-size: 72px}
}