::-webkit-scrollbar { width: 0; }

body {
  --light: #F3EBE2;
  --dark: #3F3131;
  --darker: #2E2121;

  background-color: var(--light);
  color: var(--dark);
  font-family: 'Cormorant Infant', 'Anek Latin', 'Serif', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overscroll-behavior: none;
  overscroll-behavior-block: none;
  overflow-x: hidden;
  padding: 0;
}

@media (min-width: 1025px) {
  body {
    --button-font: 400 20px/22px "Anek Latin";
    --text-font: 400 20px/22px "Anek Latin";
    --small-text-font: 400 18px/24px "Cormorant Infant";
    --font-84: 400 84px/102px "Cormorant Infant";
    --font-48: 400 48px/52px "Cormorant Infant";
  }
}

@media (max-width: 1024px) {
  body {
    --button-font: 400 16px/18px "Anek Latin";
    --text-font: 400 14px/16px "Anek Latin";
    --small-text-font: 400 16px/24px "Cormorant Infant";
    --font-84: 400 48px/58px "Cormorant Infant";
    --font-48: 400 36px/40px "Cormorant Infant";
  }
}

.white { color: var(--light); }

.text { font: var(--text-font); letter-spacing: 3px; }
.small-text { font: var(--small-text-font) !important; }
.font-84 { font: var(--font-84); }
.font-48 { font: var(--font-48); }

.button {
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  font: var(--button-font);
  letter-spacing: 2px;
  padding: 16px 24px;
  text-decoration: none;
  width: max-content;
}
.button:hover:not(.disabled) { opacity: 0.8; }
.button.disabled { cursor: default; }
.button.light { background-color: var(--light); color: var(--dark); }

.hidden {
  height: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

body > .container {
  height: 100svh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  width: 100vw;
}

/* Hero Section */

.hero-section {
  align-items: center;
  background-color: #241c1b;
  color: var(--light);
  position: relative;
  text-align: center;
}

.hero-section .hero-bg {
  height: auto;
  object-fit: cover;
  width: 100%;
  /* max-width: 1256px; */
}

.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.hero-section .hero-content .text {
  font-weight: 300;
}

.hero-section span:first-child {
  margin-top: 85px;
}

.font-hero {
  font: 400 176px/180px "Cormorant Infant";
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .hero-section {
    height: 100vh;
  }

  .hero-section .hero-bg {
    height: 100%;
    object-fit: cover;
  }

  .hero-section span:first-child {
    margin-top: 96px;
  }
  
  .font-hero {
    font: 400 72px/84px "Cormorant Infant";
  }
}

/* Shared Section Classes */

.shared-section {
  display: flex;
  height: 708px;
  max-height: 708px;
}

.shared-section.reversed {
  background-color: #241c1b;
  flex-direction: row-reverse;
}

.shared-section img {
  width: 50%;
  min-width: 50%;
  height: auto;
  object-fit: cover;
}

.shared-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 40px 100px 60px;
  width: 50%;
}

.shared-section:not(.reversed) .content {
  background-color: var(--light);
}

.shared-section.reversed .content {
  padding: 100px 60px 100px 140px;
}

.shared-section .content .font-84:first-of-type {
  margin-bottom: 50px;
}

.shared-section .content .font-84:first-of-type,
.shared-section .content .text {
  opacity: 30%;
}
.shared-section.reversed .content .font-84:first-of-type,
.shared-section.reversed .content .text {
  opacity: 50%;
}

.shared-section .content .place,
.shared-section .content .button {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .shared-section,
  .shared-section.reversed {
    flex-direction: column-reverse !important;
    height: max-content;
    max-height: max-content;
  }

  .shared-section .content,
  .shared-section img {
    width: 100%;
  }

  .shared-section .content,
  .shared-section.reversed .content {
    padding: 64px 24px 40px 24px;
  }

  .shared-section .content .font-84:first-of-type {
    margin-bottom: 30px;
  }

  .shared-section .content .font-84:first-of-type,
  .shared-section .content .text {
    opacity: 50%;
  }
}

/* Minimal section */

.minimal-section {
  height: 618px;
  max-height: 618px;
}

.minimal-section .text {
  color: #4E3C3C;
  margin-bottom: auto;
  opacity: 100% !important;
}

@media (max-width: 1024px) {
  .minimal-section {
    height: max-content;
  }

  .minimal-section .text {
    margin-bottom: 8px;
  }
}

/* Cocktail Sections */

body.only-cocktail .shared-section:not(.ctas-section):not(.minimal-section) {
  display: none;
}

body:not(.only-cocktail) .cocktail-section {
  display: none;
}

.only-cocktail .minimal-section {
  flex-direction: row-reverse;
}

.only-cocktail .minimal-section .content {
  background-color: var(--light) !important;
}

.cocktail-section-hour {
  align-items: center;
  background-color: #241c1b;
  display: flex;
  flex-direction: column;
  height: 488px;
  justify-content: center;
}

.cocktail-section-hour .button {
  margin-top: 20px;
}

@media (min-width: 1025px) {
  .only-cocktail .minimal-section .content {
    padding: 100px 60px 100px 140px !important;
  }
}

@media (max-width: 1024px) {
  .minimal-section .text {
    margin-bottom: 8px;
  }

  .cocktail-section-hour {
    align-items: flex-start;
    height: max-content;
    margin-left: 0 !important;
    padding: 64px 0 64px 24px;
  }
  
  .cocktail-section-hour .font-hero {
    margin: 10px 0 -10px 0 !important;
  }
}

/* CTAs section */

.only-cocktail .ctas-section {
  flex-direction: row;
}

.ctas-section {
  height: max-content;
  max-height: max-content;
}

.ctas-section img {
  object-position: top right;
}

.ctas-section .content {
  padding-right: 160px !important;
  max-width: 80%;
}

.present-options {
  margin-top: 30px;
  transition: height 0.3s ease-out;
}

.present-options > span {
  display: block;
  max-width: 340px;
}

.present-options .aliases {
  display: grid;
  gap: 5px;
  margin: 20px 0;
}

.present-options .aliases .button {
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 0;
}

.rsvp-options:not(.hidden) {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  height: max-content;
  margin: 10px 0 0 0;
  max-width: 100%;
  overflow: hidden;
  padding: 30px;
  transition: height 0.3s ease-out;
}

#rsvp-name {
  font-weight: 600 !important;
}

#rsvp-question {
  margin: 5px 0 15px 0;
}

.rsvp-options #rsvp-confirm {
  background-color: black;
}
